.card-header {
    box-shadow: 0px 3px 6px #0000000f;
  }
  
  .userDetails {
    font-size: 12px;
    color: #53565a;
  }
  
  .headerFont {
    font-size: 18px;
    color: #000048;
    line-height: 24px !important;
  }
  
  .headerFontLogo {
    font-family:Gellix-SemiBold ;
    font-size: 20px;
    color: #000048;
    line-height: 16px !important;
  }
  
  .profileImage {
    background-color: #2f78c4;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    padding: 12%;
    font-size: 1.25rem;
    color: #ffffff;
  }
  